<IfModule mod_fcgid.c>
AddHandler fcgid-script .php
FcgidWrapper /home/plasheev/demo365.plasheev.com/php.fcgi .php
</IfModule>
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^(.*)$ public/$1 [L]
</IfModule>